body{
margin:0;
height:100vh;
font-family:Segoe UI;
background:linear-gradient(135deg,#141e30,#243b55);
display:flex;
justify-content:center;
align-items:center;
}

/* form */
.form{
background:rgba(255,255,255,0.08);
padding:40px;
width:380px;
border-radius:15px;
backdrop-filter:blur(15px);
box-shadow:0 15px 35px rgba(0,0,0,0.6);
color:white;
}

h2{
text-align:center;
margin-bottom:25px;
color:#ffffff;
}

/* floating input */
.inputBox{
position:relative;
margin-bottom:22px;
}

.inputBox input{
width:100%;
padding:12px;
border-radius:8px;
border:1px solid rgba(255,255,255,0.3);
outline:none;
background:rgba(0,0,0,0.25);
color:#ffffff;
font-size:15px;
transition:.3s;
}

/* placeholder color */
.inputBox input::placeholder{
color:#bbbbbb;
}

/* focus effect */
.inputBox input:focus{
border-color:#00ffd5;
background:rgba(0,0,0,0.35);
}

/* floating label */
.inputBox label{
position:absolute;
left:12px;
top:12px;
transition:.3s;
color:#cccccc;
pointer-events:none;
}

.inputBox input:focus + label,
.inputBox input:not(:placeholder-shown) + label{
top:-10px;
left:8px;
font-size:12px;
background:#243b55;
padding:0 5px;
color:#00ffd5;
}

/* select + textarea */
select, textarea{
width:100%;
padding:12px;
margin-bottom:20px;
border-radius:8px;
border:1px solid rgba(255,255,255,0.3);
background:rgba(0,0,0,0.25);
color:#ffffff;
outline:none;
font-size:15px;
transition:.3s;
}

select:focus,
textarea:focus{
border-color:#00ffd5;
background:rgba(0,0,0,0.35);
}

/* dropdown options */
select option{
background:#243b55;
color:white;
}

textarea{
height:100px;
resize:none;
}

/* button */
button{
width:100%;
padding:14px;
border:none;
border-radius:10px;
background:linear-gradient(45deg,#00ffd5,#00aaff);
font-size:16px;
cursor:pointer;
font-weight:bold;
transition:.3s;
box-shadow:0 10px 20px rgba(0,0,0,0.4);
color:black;
}

button:hover{
transform:scale(1.05);
}

button:active{
transform:scale(.95);
}